@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

.navigasi {
  background-color: #077684;
}

.custom-nav .navbar-brand img {
  width: 143px;
  height: 60.62px;
}

.custom-nav #custom-navi .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-left: 2em;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}

.custom-nav #custom-navi .navbar-nav .nav-item .nav-link:hover {
  color: #0FCEE7;
}

.custom-nav #custom-navi .navbar-nav .nav-item .active {
  color: #0FCEE7;
}

.judul {
  margin-top: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 3vmax;
  color: #077684;
}

.nav-tabs {
  margin-top: 3em;
  border-color: #077684;
}

.nav-tabs .nav-item-tabs {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.nav-tabs .nav-item-tabs .nav-link {
  color: #077684;
}

.nav-tabs .nav-item-tabs .nav-link:hover {
  color: #FFFFFF;
  background-color: #077684;
}

.nav-tabs .nav-item-tabs .active {
  color: #FFFFFF;
  background-color: #077684;
}

.uiuxdesign {
  margin-top: 3em;
}

.media {
  background-color: #B7DDE1;
  padding: 60px;
}

.media h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #077684;
}

.media p {
  margin-top: 30px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #077684;
}

.media a {
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
  font-weight: 700;
  display: inline-block;
  color: #077684;
  background-color: #0FCEE7;
  padding: .5em 1.5em;
  text-decoration: none;
  margin-top: 5em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 20px;
}

.media a i {
  margin-left: 5px;
  font-size: 14px;
}

.media a:hover {
  color: #FFFFFF;
}

#flatdesign {
  margin-top: 3em;
  /* Position the image container (needed to position the left and right arrows) */
  /* Hide the images by default */
  /* Add a pointer when hovering over the thumbnail images */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Number text (1/3 etc) */
  /* Container for image text */
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */
}

#flatdesign * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#flatdesign .container {
  position: relative;
}

#flatdesign .mySlides {
  display: none;
}

#flatdesign .mySlides img {
  width: 100%;
  height: 30vmax;
}

#flatdesign .cursor {
  cursor: pointer;
}

#flatdesign .prev,
#flatdesign .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #077684;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

#flatdesign .next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

#flatdesign .prev:hover,
#flatdesign .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  text-decoration: none;
}

#flatdesign .numbertext {
  color: rgba(7, 118, 132, 0.8);
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#flatdesign .caption-container {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #077684;
  padding: 3px;
  color: #FFFFFF;
}

#flatdesign .caption-container #caption {
  margin: 3px;
}

#flatdesign .row:after {
  content: "";
  display: table;
  clear: both;
}

#flatdesign .row {
  margin: 0 auto;
}

#flatdesign .column {
  float: left;
  width: 16.66%;
}

#flatdesign .demo {
  opacity: 0.6;
}

#flatdesign .active,
#flatdesign .demo:hover {
  opacity: 1;
}

.brandayusa {
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;
  /* Bottom right text */
}

.brandayusa img {
  width: 80%;
  height: auto;
  margin-left: 20%;
}

.brandayusa .text-block {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  bottom: 20px;
  right: 0;
  background-color: rgba(183, 221, 225, 0.8);
  color: white;
  margin-right: 60%;
  padding: 50px;
}

.brandayusa .text-block h4 {
  color: #077684;
  font-weight: 600;
}

.brandayusa .text-block p {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

.brandidentity {
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;
  /* Bottom left text */
}

.brandidentity img {
  width: 80%;
  height: auto;
}

.brandidentity .text-blocks {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 20px;
  right: 0;
  background-color: rgba(183, 221, 225, 0.8);
  color: white;
  margin-left: 60%;
  padding: 50px;
}

.brandidentity .text-blocks h4 {
  color: #077684;
  font-weight: 600;
}

.brandidentity .text-blocks p {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

.imagelogoa {
  position: relative;
}

.imagelogoa img {
  width: 100%;
  height: 36vmax;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.imagelogoa #brandtag {
  height: 36vmax;
  width: 100%;
}

/*motorlogo
  .brandmotor{
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
    img{
      margin-left: 20%;
      width: 80%;
      height: 30vmax;
    }

    // Bottom right text 
    .text-block {
      position: absolute;
      font-family:'Poppins', sans-serif;
      h4{
        color: $secondaryColor;
        font-weight: 600;
      }
      p{
        font-size: 14px;
        font-weight: 300;
        color: $tertiaryColor;
      }
      bottom: 0;
      left: 0;
      background-color:rgba($backgroundPort,.8);
      color: white;
      margin-right: 60%;
      padding: 50px;
      }  
    }    
    .imagelogo1{
    position: relative;
    img{
    width: 100%;
    height: 30vmax;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    }   
    }
*/
.content {
  margin-top: 3em;
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}

.content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.content .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.content .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .content .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .content .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

footer {
  position: relative;
  margin-top: 10%;
  height: 110px;
  padding-top: 5%;
  padding-bottom: 4%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .custom-find {
  margin-left: 5%;
}

footer .custom-find h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #0FCEE7;
}

footer .custom-services {
  margin-left: 4%;
}

footer .custom-services h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0FCEE7;
}

footer .custom-services .col {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  -webkit-column-count: 1;
          column-count: 1;
}

.social-icons a {
  width: 35px;
  height: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  background-color: #077684;
  border-radius: 50%;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.copyright {
  background-color: #000000;
  padding: .5px;
}

.copyright p {
  margin-top: 3px;
  margin-bottom: 5px;
  color: #FFFFFF;
  opacity: 60%;
  text-align: right;
  font-size: 12px;
  padding-right: 10px;
}

.social-icons i {
  color: #FFFFFF;
}

.social-icons a:hover,
.social-bar a:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 2px 2px 12px rgba(7, 118, 132, 0.4);
          box-shadow: 2px 2px 12px rgba(7, 118, 132, 0.4);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.social-icons a:hover i,
.social-bar a:hover i {
  color: #077684;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.social-bar {
  position: fixed;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.social-bar i {
  color: #FFFFFF;
  font-size: 20px;
}

.social-bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #077684;
  -webkit-box-shadow: 2px 2px 15px rgba(7, 118, 132, 0.6);
          box-shadow: 2px 2px 15px rgba(7, 118, 132, 0.6);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.social-bar #top {
  border-radius: 50% 50% 0 0;
}

.social-bar #bottom {
  border-radius: 0 0 50% 50%;
}
/*# sourceMappingURL=PagePortfolio.css.map */