@import 'fonts';
@import 'variable';
@import 'mixin';
//styles
html{
    scroll-behavior: smooth;
}
body {
    #mouse{
    left: 50%;
    cursor: pointer;
    }
    &::before{
    content: '';
    background-image: url(img/backgrnd.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 70vmax;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
}

//navigation
.custom-nav {
    .navbar-brand{
        img {
            width: 143px;
            height: 60.62px;
            }
    }
    #custom-navi{
        .navbar-nav{
            .nav-item{
                .nav-link{
                color: $tertiaryColor;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                margin-left: 2em;
                transition: 0.3s color ease;
                
                &:hover{
                    color: $primaryColor;
                    }
                
                }
                .active{
                        color: $primaryColor;
                    }
            }
        }
    }
    
}

//custom section
.custom-section{
    .custom-myfoto{
        img{
            width: auto;
            height: auto;
            max-height: 512px;
            @media screen and (max-width:992px) {
            width:20vmax;
            height:36vmax ;
            margin-right: 16em;
            margin-left: -5em;
                }
    
        }
    }

    .custom-intro{
        margin-top: 10em;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10em;
        h3{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500; 
        color: $tertiaryColor;
        }
        h1{
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        color: $primaryColor;
        }
        p{
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        color: $tertiaryColor;
        margin-top: 1.5em;
        }
        a{
            @include tombol;
            margin-top: 1.5em;
            transition: 0.3s ease;
            &:hover{
            color:$tertiaryColor;
        }
        }
        @media screen and (max-width:767px) {
            margin-top:-14em;
            text-align: right;
            p{
                font-size: .5rem;
                font-style: normal;
                font-weight: 200;
                color: $tertiaryColor;
                margin-top: 1.5em;
                }
            h3{
                font-size: 1rem;
                font-style: normal;
                font-weight: 500; 
                color: $tertiaryColor;
                }
            
            p,h3 {
                text-shadow: 1px 1px 2px rgba($secondaryColor,0.4);
            }
        }
    }
}
//mobile
@media screen and (max-width:992px) {
    #mouse{
        display: none;
    }

}

//row2
//custom about
.custom-about{
    .custom-aboutme{
        h1{
            font-family: 'Montserrat', sans-serif; 
            font-size: 2rem;
            font-style: normal;
            font-weight: 700; 
            color: $primaryColor;
            text-align: left;
            white-space: nowrap;
        }
        p{
            margin-top: 2.5em;
            font-family: 'Montserrat', sans-serif; 
            font-style: normal;
            font-weight: 400; 
            color: $secondaryColor;
            text-align: justify;
            font-size: 1rem;
        }
        
        h5{
            margin-top: 1.5em;
            font-family: 'Poppins', sans-serif; 
            font-style: normal;
            font-size: 1rem;
            font-weight: 600; 
            color: $secondaryColor;
            text-align: right;
        }
       a{
            @include tombol;
            margin-top: 1em;
            transition: 0.3s ease;
            padding: .5em 3em;
            &:hover{
            color:$tertiaryColor;
            }
        }
        @media screen and (max-width:769px) {
            margin-top:.5em;
            h1{
                margin-top: -1em;
            }
            p{
                font-size: .5rem;
                font-style: normal;
                font-weight: 400;
                margin-top: 1.5em;
                }
            
            p{
                text-shadow: 1px 1px 2px rgba($secondaryColor,0.1);
            }
            h5{
                font-size: .6rem;
            }
        }
    }
    .custom-mypc{
        img{
            
            max-height: 512px;
            margin-right: 0;
            @media screen and (max-width:992px) {
            width:100%;
            height:auto;
            margin-right: 0;
                }
        }
    }
}

//custom skills
.custom-skills{
    .responsive{
        margin-top: 3em;
        margin-bottom: 3em;
        position: relative;
        width: 100%;
        height: auto;
        
        @media screen and (max-width:992px) {
            margin-top: .5em;
            margin-bottom: .5em;
            }
    }
    margin-top: 3em;
    background:$secondaryColor;
}

//process
.container{
    .process{ 
        background-image: url(img/lineprocess.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom, left top;
        position: absolute;
        margin-left: 8vmax;
        margin-right: 50vmax;
        width: 70%;
        height: 70%;

        .custom-process{
        h2{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 2.4vmax;
            color: $primaryColor;
            margin-top: 1em;
            }
        }

        .zoomdiscover{
            position: relative;
            width: 50%;  
            }
        #discover{
            width: 118.02px;
            height: 89.27px;
            margin-left:-1rem;
            margin-top:60%;
            position: absolute;
            }
        /* The overlay effect (full height and width) - lays on top of the container and over the image */
        .overlay {
             position:absolute;
             margin-top:60%;
             margin-left:-1rem;
             overflow: hidden;
             width: 115.02px;
             height: 90px;
             transform: scale(0);
             transition: .3s ease;
            }
  
        /* When you mouse over the container, the overlay text will "zoom" in display */
        .zoomdiscover:hover .overlay {
             transform: scale(1);
             }
  
        /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
        .text {
             color:$primaryColor;
             font-size: 12px;
             font-weight: 600;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             text-align: center;
             border: 2px solid $primaryColor;
             border-radius: 100%;
             background: $tertiaryColor;
             padding: 30% 10% 29% 10%;  
             font-family: 'Montserrat', sans-serif;
            }
            
        
        .zoomdefine{
                position: relative;
                width: 50%;  
                }
        #define{
            position: absolute;
            width: 118.02px;
            height: 89.27px;
            margin-left: 45%;
            margin-top:63%;
        }
        /* The overlay effect (full height and width) - lays on top of the container and over the image */
        .overlaydefine {
            position:absolute;
            margin-top:63%;
            margin-left:45%;
            overflow: hidden;
            width: 115.02px;
            height: 90px;
            transform: scale(0);
            transition: .3s ease;
           }
        /* When you mouse over the container, the overlay text will "zoom" in display */
        .zoomdefine:hover .overlaydefine {
             transform: scale(1);
             }
  
        /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
        .textdefine {
             color:$primaryColor;
             font-size: 12px;
             font-weight: 600;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             text-align: center;
             border: 2px solid $primaryColor;
             border-radius: 100%;
             background: $tertiaryColor;
             padding: 30% 18% 29% 18%;  
             font-family: 'Montserrat', sans-serif;
            }
        
        .zoomideate{
                position: relative;
                width: 50%;  
                }
        #ideate{
            position: absolute;
            width: 118.02px;
            height: 89.27px;
            margin-left: 33vmax;
            margin-top:18vmax;
        }
        /* The overlay effect (full height and width) - lays on top of the container and over the image */
        .overlayideate {
            position:absolute;
            margin-top:18vmax;
            margin-left:33vmax;
            overflow: hidden;
            width: 115.02px;
            height: 90px;
            transform: scale(0);
            transition: .3s ease;
           }
        /* When you mouse over the container, the overlay text will "zoom" in display */
        .zoomideate:hover .overlayideate {
            transform: scale(1);
            }
 
       /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
       .textideate {
            color:$primaryColor;
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            border: 2px solid $primaryColor;
            border-radius: 100%;
            background: $tertiaryColor;
            padding: 30% 18% 29% 18%;  
            font-family: 'Montserrat', sans-serif;
           }

        .zoomimplement{
            position: relative;
            width: 50%;  
            }
        #implement{
            position: absolute;
            width: 118.02px;
            height: 89.27px;
            margin-left: 49vmax;
            margin-top:11vmax;
        }
        /* The overlay effect (full height and width) - lays on top of the container and over the image */
        .overlayimplement {
            position:absolute;
            margin-top:11vmax;
            margin-left:49vmax;
            overflow: hidden;
            width: 115.02px;
            height: 90px;
            transform: scale(0);
            transition: .3s ease;
           }
        /* When you mouse over the container, the overlay text will "zoom" in display */
        .zoomimplement:hover .overlayimplement {
            transform: scale(1);
            }
 
       /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
       .textimplement {
            color:$primaryColor;
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            border: 2px solid $primaryColor;
            border-radius: 100%;
            background: $tertiaryColor;
            padding: 30% 4% 29% 4%;  
            font-family: 'Montserrat', sans-serif;
           }

    }
}

//portfolio
   .custom-portfoliotext{
    margin-top: 50%;
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.4vmax;
        font-weight: 700;
        color: $primaryColor;
        margin-bottom: 0em;
    }
    }
    .carousel-inner{
        margin-bottom: 1em;
        .carousel-item{
        img{
            position: relative;
            padding: 2em 5em 0em 5em;
        }
        }
        .carousel-caption{
   
        background: linear-gradient(to top, rgba(6, 133, 150, 0.9), rgba(0,0,0,0));/* Black background with 0.5 opacity */
        color: #e5f5fa; /* Grey text */
        width: 85.5%; /* Full width */
        left: 7.3%;   
        bottom: 0;
        font-family: 'Montserrat', sans-serif;
        h5{
            font-size: 16px;
            font-weight: 600;
            padding-top: 2em;
            text-align: left;
            margin-left: 2em;
        }
        p{
            font-size: 12px;
            font-weight: 500;
            padding-bottom: 0;
            text-align: left;
            margin-left: 2.5em;
        }
        }
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: 50px;
        height: 50px;
        background-color: $primaryColor;
        border-radius: 50%;
        top : 50%;
        transform: translateY(50%);
    }

    .buttonporto{
    @include tombol;
    margin-top: 1.5em;
    transition: 0.3s ease;
        &:hover{
        color:$tertiaryColor;
        }
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        text-align: center;
        border-radius: .5em;
    }

    //testimoni
    .testimoni{
        background-image: url("img/back\ testimoni.png");
        background-repeat: no-repeat;
        background-attachment:relative;
        background-size: 100% 100%;
        margin-top: 4em;
        margin-bottom: 4em;
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 2.4vmax;
            font-weight: 700;
            color: $primaryColor;
            margin-bottom: 2em;
        }
        .nurul{
            height:auto;
            width: 50%;
        }
        .andes{
            height: auto;
            width:50%;
            margin-left: 50%;
            margin-top: 3%;
            margin-bottom: 5%;
            
        }
    }

    //get in touch
    .touch{
    h1{
        margin-top: 5vmax;
        margin-bottom:5vmax;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.4vmax;
        font-weight: 700;
        color: $primaryColor;
    }
    }
    
    .custom-touch{
    background-image: url("img/Rectangle.png");
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: 100vmax;

        }   
        .email{
        width: 2.5em;
        margin-top: 3vmax;
        }
        h5{
        font-family: 'Poppins', sans-serif; 
        color: $tertiaryColor;
        font-size: 18px;
        margin-top:-1.8em;
        margin-left: 3em;
        }
        .loc{
            width: 2.5em;
            margin-top: 2.5vmax;
        }
        h4{
            font-family: 'Poppins', sans-serif; 
            color: $tertiaryColor;
            font-size: 18px;
            margin-top:-2.7em;
            margin-left: 3em;
            }
      
        .iphone{
            width: 20vmax;
            margin-left: 75%;
            margin-top: -25vmax;        
            } 
                .send{
                 @include tombol;
                transition: 0.3s ease;
                position: absolute;
                right: 13.7%;
                margin: 12px;
                padding-left: 2em;
                padding-right: 2em;
                max-width: 300px;
                border-radius: 5px;
                &:hover{
                color:$tertiaryColor;
                }
                }

footer{
    position: relative;
    margin-top: 10%;
    height: 110px;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: rgba($blackcolor,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer  .custom-find{
    margin-left: 5%;
    h3{
        font-family: 'Poppins', sans-serif; 
        font-size: 14px;
        color: $primaryColor;
    }
}
footer .custom-services{
    margin-left: 4%;
    h3{
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $primaryColor;
    }
    .col{
        font-family: 'Poppins', sans-serif; 
        font-size: 12px;
        color: $tertiaryColor;
        column-count: 1;
    }
}

.social-icons a{
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin : 5px;
    background-color: $secondaryColor;
    border-radius: 50%;
    text-decoration-line: none;
}
.copyright{
    background-color: $blackcolor;
    padding: .5px;
    p{
    margin-top:3px;
    margin-bottom: 5px;
    color: $tertiaryColor;opacity: 60%;
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
    }

}
.social-icons i{
 color:$tertiaryColor;
}
.social-icons a:hover, 
.social-bar a:hover{
    background-color:$tertiaryColor;
    box-shadow: 2px 2px 12px rgba($secondaryColor,0.4);
    transition: all ease 0.5s;
    }

.social-icons a:hover i,
.social-bar a:hover i{
    color: $secondaryColor;
    transition: all ease 0.5s;
}

.social-bar{
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.social-bar i{
    color: $tertiaryColor;
    font-size: 20px;
}
.social-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: $secondaryColor;
    box-shadow: 2px 2px 15px rgba($secondaryColor,0.6);
    text-decoration-line: none;
}
.social-bar {
#top{
    border-radius: 50% 50% 0 0;
}
#bottom{
    border-radius: 0 0 50% 50%;
}
}